services:
  - type: web
    name: amedeo-chatbot
    env: python
    region: frankfurt
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: python app.py
    envVars:
      - key: PORT
        value: 10000
      - key: GEMINI_API_KEY
        sync: false
    autoDeploy: true
